ul{
    background-color: aqua;
    width: 700px;
    border: 5px dashed green;
    margin: 100px;
    padding: 50px;
}


a{
    background-color: rgb(42, 27, 27);
    color: orange;
    text-decoration: none;
    padding: 14px 22px;
}

/* Style the recipe page  */
/* CSS Short-hand properties -- examples   */

/* CSS position property --  */