@font-face {
    font-family: Roboto;
    src: url(./RobotoMono-VariableFont_wght.ttf);
}

/* font-face, media, import, keyframes */

h1{
    color: rgb(0, 255, 0);
    letter-spacing: 10px;
    /* font-style: italic; */
    font-family: 'Roboto';
}
/* rgb 11111111 0-9a-f (16 character) */
/* rgb, hex, hsl,hwb */
p{
    word-spacing: 20px;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    font-family: "Sevillana";

}
/* Figure out using external font families in css */
/* google fonts || downloaded fonts */


/* 
backgrounds and images,
box model, -- Style the recipe page
css position property,
- one project  
css flex- layout model
animations
responsive design 
- projects ** 
- full websites
*/
